body
{
    margin: 0;
    background-color:white;
}

.headerSection
{
    background-color: #7b002c;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.headerSection img:first-child
{
    width: 6%;
    height: 6%;
    margin-left: 2%;
}

.headerSection img:last-child
{
    width: 3%;
    height: 3%;
    margin-right: 2%;
}

nav a
{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: bold;
}

nav a:hover
{
    /*border-bottom: 3px solid #da2e2a;*/
    padding-bottom: 3px;
    color:#7b002c;
}

.navigationList
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none; 
    padding-bottom: 12px;
    margin-left: 40px;  
    margin-right: 40px; 
    border-bottom: 2px solid  #bebebe;
}

main 
{
    display: flex;
    box-sizing: border-box;
}

.leftSide
{
    box-sizing: border-box;
    width: 15%;
    margin-top: 0.5%;
    margin-left: 5%;
}

div.leftSide h3
{
    font-family: sans-serif;
}

div.leftSide form
{
    padding: 25px 20px;
    border: 2px solid  #bebebe;
}
div.leftSide form input
{
    margin-left: 10px;
    margin-top: 13px;
}

.rightSide
{
    flex: 1;
    width: 80%;
    margin-left: 3%;
}

main h1
{
    /*margin-left: 3%;*/
    margin-right: 92%;
    font-family: sans-serif;
    border-bottom: 4px solid  #7b002c;
}

.sortAllBooks
{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    /*margin-left: 3%;*/
    margin-right: 9%;
    border-top: 2px solid  #bebebe;
    border-bottom: 2px solid  #bebebe;
}

div.sortAllBooks label
{
    margin-left: 3%;
    font-family: sans-serif;
    font-weight: bold;
}

div.sortAllBooks select
{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 6px;
}

.books
{
    display: flex;
    flex-wrap: wrap; /* wraps to a new row as there is not enough space */
}

.bookToSelect
{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1; /* fills the whole space */
    margin-top: 20px;
}

.bookToSelect
{
    margin-right: 7%;
}

.bookToSelect img
{
    height: 300px;
    width: 200px;
}

.bookToSelect button
{
    border: 1px solid	#b4b4b4;
    background-color: 	#b4b4b4;
    color:black;
    border-radius: 20px;
    font-size: 18px;
    padding-top:6px;
    padding-bottom:6px;
    padding-left: 40px;
    padding-right: 40px;
}

.bookToSelect button:hover
{
    border: 1px solid #7b002c;
    background-color: #7b002c;
    color:white;
    font-size: 18px;
    padding-top:6px;
    padding-bottom:6px;
    padding-left: 40px;
    padding-right: 40px;
}